<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/maps.js"></script>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>

  <body>

    <h3>Food Truck Locator</h3>
    <!-- search bar -->
    <input type="text" id="mapsearch" size="50"></input>
    <!-- button -->
    <input id="get" type="submit" value="Get Truck Location">
    <!-- map to display -->
    <div id="map"></div>
    
    <div class="container"></div>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPPJIvwAbCtudCE37ml0XOSF-yNxPGewc&callback=initMap&libraries=places">
    </script>
  </body>
</html>
